<h1>Put a new item on the wishlist</h1>

<div class="form">
  <%= form_tag(wishes_path) do %>
    <fieldset>
      <%= label_tag :item %>
      <%= text_field_tag :item %><br/>

      <%= label_tag :vendor %>
      <%= text_field_tag :vendor %><br/>

      <%= label_tag :category %>
      <%= text_field_tag :category %><br/>

      <%= label_tag :price %>
      <%= text_field_tag :price %><br/>

      <%= label_tag :ship %>
      <%= text_field_tag :ship %><br/>

      <%= submit_tag "Create Wish" %>
    </fieldset>
  <% end %>
</div>